[Unit]
Description=PulseEffects
After=sway-session.target

[Service]
ExecStart=/usr/bin/pulseeffects --gapplication-service
ExecStopPost=/usr/bin/pulseeffects -q

[Install]
WantedBy=default.target
