[alias]
    sb = status -sb

[push]
    default = simple

[pull]
    rebase = true

[log]
    decorate = true
    abbrevCommit = true

[user]
    email = aaronkyriesenbach@pobox.com
    name = Aaron Ky-Riesenbach
    signingkey = A42F0ED167D852C1

[pager]
    branch = false

[commit]
    gpgsign = true

[merge]
    tool = nvimdiff

[init]
    defaultBranch = master
