[include]
	path = .gitidentity

[push]
	default = simple

[pull]
	rebase = true

[log]
	decorate = true
	abbrevCommit = true

[pager]
	branch = false

[merge]
	tool = nvimdiff

[init]
	defaultBranch = master
