[alias]
	sb = status -sb

[push]
	default = simple

[pull]
	rebase = true

[log]
	decorate = true
	abbrevCommit = true

[user]
	email = aaronkyriesenbach@pobox.com
	name = Aaron Ky-Riesenbach
	signingkey = E27C09BE6F820D61

[pager]
	branch = false

[commit]
	gpgsign = true
