@import url('/home/aaron/.config/waybar/dracula.css');

* {
	font-family: IosevkaNerdFont;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
}

window#waybar {
	background: @background;
	color: @foreground;
}

.modules-left, #workspaces {
	padding-left: 0;
}

.modules-right, #battery, #tray {
	padding-right: 0;
}

#workspaces button {
	border-radius: 5px;
	font-weight: bold;
	text-shadow: none;
}

#workspaces button.focused, #workspaces button.active {
	background: @purple;
}

#workspaces button.focused > *, #workspaces button.active > * {
	background-color: transparent;
	color: @background;
}

#mpris {
	color: #FC3C44;
}
